<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/pos/application/libraries/dompdf/lib/php-font-lib/tests" />
        <option value="$PROJECT_DIR$/pos/application/libraries/dompdf/lib/php-css-parser/tests" />
        <option value="$PROJECT_DIR$/pos/application/libraries/dompdf/old/tests" />
        <option value="$PROJECT_DIR$/pos/application/libraries/dompdf/lib/php-svg-lib/tests" />
      </list>
    </option>
  </component>
</project>